################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XmlReader/.vs/XmlReader/v16/Server/sqlite3/db.lock
